<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= theme_css %>
  </head>

  <body>
    <div class="canvas">
      <h1>Codely</h1>

      <div class="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
