select {
  margin: 0
}

div.filename {
  margin-top: -40px;
}

div.filename input {
  width: 206px;
}

input#browse-func {
  opacity: 0;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.right-form {
  float:    right;
  position: relative;
}

textarea.highlight {
  min-height: 400px;
  max-height: 100%;
  resize: vertical;
}

pre, .code {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  line-height: 18px;
  color: #999999;
}

ol.linenums {
  list-style-position:inside;
  padding: 10px 0 10px 10px;
  float: left;
  line-height: 0px;
  margin: 0px;
  margin-right: 10px;
  border-right: 1px solid grey;
  position: relative;
}

ol li {
  margin-right: -2px;
  text-align: right;
  line-height: 18px;
}

.alert-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: -10px;
}

.alert {
  margin: 0px 50px -31px 50px;
  position: relative;
}

.alert .close {
}
